<p class="text-center">Detaile Employee!!!</p>


<div class="container col-md-6 offset-md-1">
    <div class="mb-3 ">
        <span>First Name:</span>
        <label class="form-control border border-secondary d-inline-block">{{employee.firstname}}</label>
    </div>
    <div class="mb-3">
        <span>Last Name:</span>
        <label class="form-control border border-secondary d-inline-block">{{employee.lastname}}</label>
    </div>
    <div class="mb-3">
        <span>Email:</span>
        <label class="form-control border border-secondary d-inline-block">{{employee.email}}</label>
    </div>
</div>
